body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to left, #a445b2, #fa4299);
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }
  
  h1 {
    margin-bottom: 20px;

  }

  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
  }
  
  input[type="text"]{
    width: 94%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid rgba(221, 221, 221, 1);
    box-shadow: 1px 5px 9px rgba(211, 211, 211, .7);
    color: #000;
  }

  input[type="text"]:focus {
    outline: none;
    background-color: #fff;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    background: -webkit-linear-gradient(-90deg, #a445b2, #fa4299);
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
  }
  
  button:hover {
    background: -webkit-linear-gradient(-90deg, #a445b2, #fa4299);
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-right: 20%;
  }
  
  .notify {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    background: green;
    color: #fff;
    text-align: center;
  }

  /* .table{
    width: 60%;
    margin: 10px auto;
 }
 .table table{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
 }
 
 .table table td{
    padding: 10px 10px;
    border-bottom: 2px solid;

 } */

 /* .table table td button{
    padding: 5px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s ease-in;
    border: 1px solid #111;
    
 } */




.table table td button:hover{
    background: transparent;
    color: #111;
}


 .notify{
    background: green;
    color: #111;
    width: 300px;
    margin: 0 auto;
    margin-top: 70px;
    display: block;
    text-align: center;
    color: #fff;
 }


.update_data{
    display: none;
}

 .show{
     display: block;
 }
 .hide{
    display: none;
 }

